* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

header {
    padding: 20px 0;
    background-color: #005a9c;
    border-bottom: 3px solid #f00;
}

h1 {
    color: #fdfdfd;
}

#gameSection {
    margin: 20px auto;
    padding: 10px;
    height: 450px;
    background: #fdfdfd;
    border: 3px solid #000;
    border-radius: 5px;
}

.red-text {
    color: red;
}

.blue-text {
    color: #005a9c;
}

.green-text {
    color: green;
}

.purple-text {
    color: purple;
}

.gold-text {
    color: gold;
    font-size: 48px;
    text-shadow: 2px 2px 2px #000;
}

.cube-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cube {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 2px #aaa;
}

.red {
    background-color: #f00;
}

.blue {
    background-color: #005a9c;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.gold {
    background-color: gold;
}
.cubes {
    display: flex; 
    height: 80px;
}

.trading-text {
    margin: 0;
    color: #005a9c;
    font-size: 36px;
}

.roll-tally {
    color: green;
    font-size: 36px;
}

#gameBtn {
    width: 200px;
}

.game-buttons {
    color: #fdfdfd;
}

.trade-btn {
    color: #fdfdfd;
    width: 75px;
    height: 40px;
}